* {
  font-family: "Inter";
  font-style: normal;
  margin: 0px;
}

.container {
  display: flex;
}

.screen {
  flex: 1;
}
@media screen and (max-width: 767px) {
  .responsive_container {
    flex-direction: column;
    display: grid;
  }

  .responsive_screen {
    flex: none;
  }

  .right {
    padding: 30px;
  }
.hidecards{
  overflow: auto !important;

  position: static !important;

}

.card_wraper{
  position: relative !important;
}


}
.left {
  background: radial-gradient(
      99.84% 79.84% at 10% 100%,
      rgba(20, 169, 17, 0.810119) 47.21%,
      #2f15d0 85.58%,
      rgba(0, 0, 0, 0) 100%
    ),
    #000;

  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 1;
}

.get_started {
  background: #19191a;
  border: 1px solid #19191a;
  border-radius: 8px;
  padding: 18px 28px;
  gap: 12px;
  color: #ffffff;
  width: 100%;
  margin-top: 18px;
}

.email_input {
  width: 100%;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #e5e5e6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: all 0.1s ease 0s;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: black;
}
.email_input::placeholder {
  color: #cacbcc;
}

.signup_heading {
  color: #b0b1b3;
  margin-bottom: 30px;
}

.email_info {
  color: #19191a;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin-top: 30px;
}

/* componet 1 */

.title {
  color: #f2f2f2;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub_title {
  color: #f2f2f2;
  opacity: 0.7;
  margin-top: 15px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 35px;
}

.card {
  padding: 15px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 27.5%,
      rgba(22, 93, 255, 0.162) 157.71%
    ),
    #ffffff;
  box-shadow: 0px 2.8px 7px rgba(0, 0, 0, 0.04),
    0px 0.7px 0.7px rgba(0, 0, 0, 0.04);
  border-radius: 8.4px;
}

.card_wraper {
  display: flex;
  gap: 10px;
  position: absolute;
  overflow: hidden;
  animation: moveSlideshow 12s linear infinite;
}
/* animaition */
@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}


.card_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card_content {
  color: #19191a;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  width: 55%;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  gap: 15px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.testicard {
  scroll-snap-align: center;
  flex: 0 0 50%;
  padding: 10px;
  cursor: grab;
  /* Add additional styling as needed */
}
.flex {
  display: flex;
}
.logo {
  padding-right: 20px;
  padding-left: 88px;
}
.noti_content {
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.testi_title {
  display: flex;
  justify-content: end;
  color: #f2f2f2;
  padding-right: 50px;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divider {
  width: 91%;
  height: 1px;
  margin: 9px 5px 0px 28px;
  border-bottom: 1px solid rgba(229, 229, 230, 0.5);
  margin-bottom: 10px;
}

.testi_name {
  color: #19191a;
  font-weight: 600;
}

.testi_pos {
  color: #96979a;
  font-size: 12px;
}

.padding_top_50 {
  padding-top: 100px;
}

.error_message {
  color: red;
  text-align: center;
  padding-top: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.eyelogo {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}


.hidecards{
  overflow: hidden;
    position: relative;
}

.noti_cards_animation{
  width: 207px;
  height: fit-content;
}