*{
  font-family: 'Inter';
  font-style: normal;
  margin: 0px;

}
body{

}
.container{
  display: flex; 

}

.screen{
  flex: 1;

}

.left{
  background: radial-gradient(
    99.84% 79.84% at 10% 100%,
    rgba(20, 169, 17, 0.810119) 47.21%,
    #2F15D0 85.58%,
    rgba(0, 0, 0, 0) 100%
  ),#000;

  width: 100%;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  z-index: 1;
}

.get_started{
  background: #19191A;
border: 1px solid #19191A;
border-radius: 8px;
padding: 18px 28px;
gap: 12px;
color: #FFFFFF;
width: 100%;
margin-top: 18px;
}

.right_container{

}

.email_input{

  width: 100%;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #E5E5E6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: all 0.1s ease 0s;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color:black;

}
.email_input::placeholder {
  color: #CACBCC;
}

.signup_heading{
  color: #B0B1B3;

}

.email_info{
  color: #19191A;
width: 100%;
text-align: center;
font-weight: 600;
font-size: 16px;
line-height: 120%;
}



/* componet 1 */

.title{
  color: #F2F2F2;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub_title{
  color: #F2F2F2;
opacity: 0.7;
}

.content{
display: flex;
justify-content: center;
padding: 35px;
}

.card{
padding: 15px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 27.5%, rgba(22, 93, 255, 0.162) 157.71%), #FFFFFF;
box-shadow: 0px 2.8px 7px rgba(0, 0, 0, 0.04), 0px 0.7px 0.7px rgba(0, 0, 0, 0.04);
border-radius: 8.4px;
}

.card_wraper{
  display: flex;
  gap: 10px;
  position: absolute;
  overflow: hidden;
  /* animation: carousel 10s infinite; */
}
/* animaition */

@keyframes carousel {
  0% { transform: translateX(0); }
  33.33% { transform: translateX(-100%); }
  66.66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

.card_header{
  display: flex;
justify-content: space-between;
margin-bottom: 15px;
}

.card_content{
  color: #19191A;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  width: 55%;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  gap: 15px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.testicard {
  scroll-snap-align: center;
  flex: 0 0 50%;
  padding: 10px;
  cursor:grab;
  /* Add additional styling as needed */
}
.flex{
  display: flex;
}
.logo{
  padding-right: 20px;
  padding-left: 88px;

}
.noti_content{
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.testi_title{
display: flex;
justify-content: end;
color: #F2F2F2;
padding-right: 50px;
font-size:25px;
margin-bottom: 10px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divider {
  width: 91%;
    height: 1px;
    margin: 9px 5px 0px 28px;
    border-bottom: 1px solid rgba(229, 229, 230, 0.5);
}

.testi_name{
  color: #19191A;
  font-weight: 600;
}

.testi_pos{
  color: #96979A;
  font-size: 15px;
}